{% for host in groups['all'] %}
{% if host != 'pve' %}
Host {{ host }}
    HostName {{ hostvars[host]['ansible_host'] | default(host) }}
    User {{ hostvars[host]['ansible_user'] | default(ansible_user) }}
    IdentityFile /root/.ssh/id_vms

{% endif %}
{% endfor %}