Types: deb
URIs: https://download.docker.com/linux/debian
Suites: {{ ansible_distribution_release }}
Components: stable
Architectures: {{ 'amd64' if ansible_architecture == 'x86_64' else ansible_architecture }}
Signed-By: /etc/apt/keyrings/docker.asc