server {
    listen 80;
    server_name "{{ dict_backends.pihole.domain }}";
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name "{{ dict_backends.pihole.domain }}";

    ssl_certificate {{ str_webserver_certificate }};
    ssl_certificate_key {{ str_webserver_key }};

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    location / {
        proxy_pass http://{{ dict_backends.pihole.address }}:{{ dict_backends.pihole.port }};
        
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_redirect off;
    }

    location = / {
        return 301 $scheme://$host/admin/;
    }
}