server {

    server_name tgotowik.de www.tgotowik.de;

    root /var/www/html;
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }

    listen 443 ssl;
    listen [::]:443 ssl ipv6only=on; 

    ssl_certificate {{ str_webserver_certificate }};
    ssl_certificate_key {{ str_webserver_key }};


}server {
    if ($host = www.tgotowik.de) {
        return 301 https://$host$request_uri;
    } 


    if ($host = tgotowik.de) {
        return 301 https://$host$request_uri;
    }


    listen 80;
    listen [::]:80;

    server_name tgotowik.de www.tgotowik.de;
    return 404; 




}