---
services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    environment:
      DOMAIN: "https://bw.tgotowik.de"
      TZ: "Europe/Berlin"
      SMTP_HOST: "{{ str_mail_smtp_host }}"
      SMTP_PORT: "{{ int_mail_smtp_port }}"
      SMTP_SECURITY: "force_tls"
      SMTP_FROM: "{{ str_mail_from_address }}"
      SMTP_USERNAME: "{{ str_mail_smtp_login }}"
      SMTP_PASSWORD: "{{ str_mail_smtp_password }}"
      SIGNUPS_ALLOWED: false
      INVITATIONS_ALLOWED: true
    ports:
      - "{{ int_vaultwarden_port }}:80"
    volumes:
      - /data/vaultwarden/data/:/data/
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro