defaults
auth on
tls on
tls_starttls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
syslog LOG_MAIL

account gmail
host {{ str_mail_smtp_host }}
port {{ int_mail_smtp_port }}
from {{ str_mail_to_address }}
user {{ str_mail_smtp_login }}
password {{ str_mail_smtp_password }}
allow_from_override off
set_from_header on

account default : gmail