---
services:
  mc:
    image: itzg/minecraft-server
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      MOTD: "Toastys Server"
      WHITELIST: |
        GoatToasty
        DerHoekage
        holyguacamowly
        Simsebim
        Sker281
        MrGuacc
        smollekat
        LoesiTV
        Wolfballon98
      ICON: /icon.png
      OVERRIDE_ICON: true
      SEED: "712262452098460"
      Difficulty: normal
      TYPE: PAPER
      VERSION: 1.21.10
      PAPER_BUILD: 115
    restart: unless-stopped
    volumes:
      - ./data:/data
      - ./plugins:/plugins-local:ro
      - ./assets/icon.png:/icon.png

# https://luckperms.net/download
# https://www.curseforge.com/minecraft/bukkit-plugins/essentialsx
# download them to .data/plugins